<div class="box">
  <div class="box-header">
    <h3 class="box-title">客户列表</h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody><tr>
        <th>Serial</th>
        <th>ID</th>
        <th>Name</th>
        <th>Sex</th>
        <th>BirthDay</th>
        <th>PhoneNumber</th>
        <th>Handle</th>
      </tr>
      <tr *ngFor="let item of customers, let index = index ">
        <td>{{index+1}}</td>
        <td>{{item.id}}</td>
        <td><span class="label label-success">{{item.name}}</span></td>
        <td>{{item.sex}}</td>
        <td #birthday>{{item.birthday}}</td>
        <td #phonenumber>{{item.phonenumber}}</td>
        <td>
          <span class="badge bg-yellow" [routerLink]="['/cDetails', item.id]" [queryParams]="{name:'liuyang'}">Update</span>
          <span class="badge bg-red">Delete</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
